body {
    background: url('https://images.unsplash.com/photo-1534338332682-8c9735c0a2f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fH') no-repeat;
    background-attachemnt: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .glass {
    position: relative;
    background: inherit;
    overflow: hidden;
    width: 70%;
    height: 70%;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
                0 6px 20px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  
  .glass:before {
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -20px;
    box-shadow: inset 0 0 500px rgba(255, 255, 255, .4); 
    filter: blur(10px);
    z-index: -1;
  }